[submodule "ngx_brotli"]
	path = ngx_brotli
	url = https://github.com/linwoodpendleton/ngx_brotli.git
[submodule "openssl"]
	path = openssl
	url = https://github.com/linwoodpendleton/openssl.git
[submodule "ngx_http_geoip2_module"]
	path = ngx_http_geoip2_module
	url = https://github.com/linwoodpendleton/ngx_http_geoip2_module.git
[submodule "ngx_devel_kit"]
	path = ngx_devel_kit
	url = https://github.com/linwoodpendleton/ngx_devel_kit.git
